h3 {
    font-size: 30px;
    text-align: center;
}

.inputFields {
    font-size: 25px;
    text-align: center;
}

.inputs {
    font-size: 25px;
    text-align: center;
}
.buttonField {
    font-size: 25px;
    text-align: center;
}